
.inicio-ContIA {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;
    margin: auto;
}

.inicio-IATxt {
    background-color: rgb(227, 227, 227);
    border-radius: 15px;
    padding: clamp(1rem, 5vw, 2.5rem);
    flex-grow: 1;
    flex-basis: 25em;
}
.inicio-ParIA{
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    text-align: justify;
    line-height: 1.4;
}

.inicio-IptIA{
    margin: 10px 0 ;
    width: 90%;
    border-radius:10px 0 10px 0 ;
    padding: 4px;
}
.inicio-CrRsgos {
    display: flex;
    flex-wrap: wrap;
    gap: 2.8em;
    justify-content: center;
    padding: 1.2em;
    margin: 4em 0 ;
    background-color: rgb(227, 227, 227);
}
.inicio-TpsRiesgo {
  display: flex;
  border-radius: 30px;
  overflow: hidden;
  background-color: #4D4DFF; 
  margin: 2em auto;
  padding: 1.2em;
  width: 83%;
  justify-content: center;
  color: #eceae5;
  font-size: 1.5em;
  

}
p{
    text-align: justify;
}

.inicio-h3V{
    color: green;
    
}
.inicio-h3N{
    color: rgb(215, 140, 0);

}
.inicio-h3R{
    color: rgb(209, 0, 0);

}

.inicio-Perfil{
  display: flex;
  position: relative;
  flex-direction: column;
  height: 350px;
  width: 190px;
  min-width: 250px;
  padding: 1rem;
  border-radius: 16px;
  background: #17141d;
  box-shadow: -1rem 0 3rem #00000067;
  transition: .2s;
  font-family: 'Inter', sans-serif;
}

.inicio-Perfil:hover {
  transform: translateY(-0.4rem);
}

.inicio-Perfil-author {
  position: relative;
  display: grid;
  grid-template-columns: 75px 1fr;
  align-items: center;
  margin: 3rem 0 0;
}

.author-name {
  color: #7a7a8c;
}

.author-name-prefix {
  color: #e52e71;
  font-weight: 600;
}

.author-avatar span {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #f2f2f2;
  margin: 16px 10px;
}

.half-circle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 48px;
  fill: none;
  stroke: #ff8a00;
  stroke-width: 8;
  stroke-linecap: round;
}

.inicio-Perfil-header {
  margin-bottom: auto;
  color: #7a7a8c;
}

.inicio-Perfil-header p {
  font-size: 14px;
  margin: 0 0 1rem;
  color: #7a7a8c;
}

.inicio-Perfil-header .title {
  font-size: 25px;
  margin: .25rem 0 auto;
  cursor: pointer;
  font-family: 'Arial Black', sans-serif;
}

.inicio-Perfil-header .title:hover {
  background: linear-gradient(90deg,#ff8a00,#e52e71);
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tags {
  text-align:center;
  margin: 1rem 0 2rem;
  padding: .5rem 0 1rem;
  line-height: 2;
  margin-bottom: 0;
}

.tags a {

  font-style: normal;
  font-weight: 700;
  color: #7a7a8c;
  text-transform: uppercase;
  font-size: .66rem;
  border: 3px solid #28242f;
  border-radius: 2rem;
  padding: .2rem .85rem .25rem;
  position: relative;
}

.tags a:hover {

  background: linear-gradient(90deg,#ff8a00,#e52e71);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background-clip: text;
  border-color: white;
}



















