.navbar-nav {
    
    background: #dddbd6;
        border: 5px solid transparent; /* Esto es solo para evitar que se vea el borde sólido */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); 
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px 0 20px 0;
    margin: 1em 2em 2em;
}

.navbar-ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0.2em;
}

.navbar-botonI {
    background-color:#dddbd6;
    padding: 0.3em 0.9em;
    border-radius: 1em;
    text-decoration: none;
    color: black;
}

h1 {
    margin: 0;
}
